body {
    font-family: "Nunito", sans-serif;
}

.accent {
    background: #673ab7
}

.accent-text {
    color: #673ab7;
}

.leftbar {
    background: #212121;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.centerbar {
    background: #303030;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.rightbar {
    background: #424242;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

/* elements */
.accountbox {
    padding: 15px;
    color: white;
}

.ih-text {
    padding-left: 38px;
}

.icon-header {
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 0;
}

.projectbox {
    padding: 15px;
    color: white;
}

.projectbox > .we {
    width: 100%;
}