body {
    font-family: "Nunito", sans-serif;
}

.accent {
    background: #673ab7 !important;
}

.accent-text {
    color: #673ab7;
}

.accent-light {
    background: #7e57c2;
}

.accent-text-light {
    color: #7e57c2;
}

.leftbar {
    background: #212121;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.centerbar {
    background: #303030;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.rightbar {
    background: #424242;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    color: white;
}

/* elements */
.accountbox {
    padding: 15px;
    color: white;
}

.ih-text {
    padding-left: 38px;
}

.icon-header {
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 0;
}

.projectbox {
    padding: 15px;
    color: white;
}

.statebox {
    padding: 15px;
    color: white;
}

.projectbox > .we {
    width: 100%;
}

/* issue */
.issue {
    padding: 15px;
    color: white;
    transition: all 1s;
}

.issue:hover {
    transition: all 1s;
    background: #424242;
}

.issue > .i-header {
    font-size: 20px;
}

.issue > p {
    margin: 0;
}

.i-icon, .issue > .i-info {
    margin-top: 5px;
    color: #aaa;
}

.issue > .row, .issue > .row > .col {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.label {
    border-radius: 7.5px;
    background: #7e57c2;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

blockquote {
    border-left-color: #673ab7;
}

.issue.issue-white {
    background: #F5F5F5;
    color: black;
}

.issue.issue-lwhite {
    background: #E0E0E0;
    color: black;
}

.subheader {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    padding-left: 40px;
}

.login-box {
    background: #E0E0E0;
    padding: 15px;
    margin: 15px;
    color: black;
    position: fixed;
    z-index: 10;
    margin-left: -40px;
}

.login-box > .arrow {
    height: 24px;
    width: 24px;
    background: #E0E0E0;
    transform: rotate(45deg);
    margin-left: -27px;
}

.login-box > .content {
    margin-top: -24px;
}

.login-box > .content > p {
    margin: 0;
}

.login-box > .loading {
    display: none;
    margin-top: -24px;
    width: 128px;
}

.login-box > .loading > p {
    margin-top: 0;
}

.login-box > .content > .login-err-wrap {
    display: none;
}

/* forms */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #673ab7;
}

.input-field input[type=password]:focus + label {
    color: #673ab7;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #673ab7;
    box-shadow: 0 1px 0 0 #673ab7;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #673ab7;
    box-shadow: 0 1px 0 0 #673ab7;
}

.input-field .prefix.active {
    color: #673ab7;
}

label {
    color: black;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
    border-color: #673ab7;
    background: #673ab7;
}